<div fxFlex fxLayout="column" fxLayoutAlign="center" class="giftolexia_logo">
    <div fxLayoutAlign="center" class="Image_div">
        <img class="giftolexia_image" src="../../assets/Giftolexia-logo.jpg" alt="Giftolxia logo">
    </div>
    <div fxLayoutAlign="center" class="paragraph">
        <p fxFlex="0 0 50%" fxFlex.lt-md="0 0 100%" class="paraText" fxLayout fxLayoutAlign="center">Helping children with learning difficulties
            to realise their true potential</p>
    </div>
    <div fxLayout="column" class="languages">
        <a [routerLink]="['/english']">
            <div fxLayout class="languages english">
                <span class="language_english">English</span>
            </div>
        </a>
        <a routerLink="#">
            <div fxLayout class="languages marathi">
                <span class="language_marathi">Marathi</span>
            </div>
        </a>
    </div>
    <div fxLayout="column" fxLayoutAlign="center" class="partners">
        <p fxFlex="0 0 100%" class="paraText" fxLayout fxLayoutAlign="center">Our partners</p>
        <div class="partner_list" fxFlex="0 0 100%" fxLayout>
            <a>
                <div class="iimb">
                    <img src="../../assets/partner-logos/iimb_logo.png" alt="IIMB Logo">
                </div>
            </a>

            <a>
                <div class="brindavan">
                    <img src="../../assets/partner-logos/brindavan_logo.png" alt="Brindavan Logo">
                </div>
            </a>
            <a>
                <div class="nsrcel">
                    <img src="../../assets/partner-logos/nsrcel_logo.jpg" alt="NSRCEL Logo">
                </div>
            </a>
            <a>
                <div class="TAXSHE">
                    <img src="../../assets/partner-logos/taxshe_logo.png" alt="TAXSHE Logo">
                </div>
            </a>
            <a>
                <div class="iipr">
                    <img src="../../assets/partner-logos/iipr_logo.jpg" alt="IIPR Logo">
                </div>
            </a>
        </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center" class="follow-us">
        <p fxFlex="0 0 100%" class="paraText" fxLayout fxLayoutAlign="center">Follow us on</p>
        <div class="followers_list" fxFlex="0 0 100%" fxLayout>
            <a>
                <div class="icons fa facebook fa-facebook">

                </div>
            </a>
            <a>
                <div class="icons fa twitter fa-twitter">

                </div>
            </a>
            <a>
                <div class="icons fa linkedin fa-linkedin">

                </div>
            </a>
        </div>
    </div>
</div>

<!-- <div fxLayoutAlign="center" class="paraText">
    <p>Helping children with learning difficulties to realise their true potential</p>
</div> -->