<div fxFlex fxLayout="column" fxLayoutAlign="center" class="giftolexia_logo">
    <div fxLayoutAlign="center" class="Image_div">
        <img routerLink="" class="giftolexia_image" src="../../../assets/Giftolexia-logo.jpg" alt="Giftolxia logo">
    </div>
    <div class="understanding-difficulties">
        <strong fxLayout class="strong-paragraph">Learning Difficulties - What Teachers and Parents Should Know
        </strong>
        <strong fxLayout class="medium-paragraph">What is Learning Difficulty?</strong>
        <p fxLayout class="normal-paragraph">
            Learning Difficulty is neurological in origin.
            There are several types based on the type of difficulties involved.
            It is characterized by difficulties with accurate and/or fluent word recognition and by poor spelling and
            decoding abilities.
            These difficulties typically result from a deficit in the phonological component of language that is often
            unexpected in relation to other cognitive abilities and the provision of effective classroom instruction.
            Secondary consequences may include problems in reading comprehension and reduced reading experience that can
            impede the growth of vocabulary and background knowledge.
        </p>
        <!-- <br>
        <br> -->
        <p fxLayout class="normal-paragraph">
            Dyslexia is a language-based learning disability.
            Dyslexia refers to a cluster of symptoms, which result in people having difficulties with specific language
            skills, particularly reading.
            Students with dyslexia usually experience difficulties with other language skills, such as spelling,
            writing, and pronouncing words.
            Dyslexia affects individuals throughout their lives; however, its impact can change at different stages in a
            person’s life.
            It is referred to as a learning disability because dyslexia can make it very difficult for a student to
            succeed academically in the typical instructional environment, and in its more severe forms, will qualify a
            student for special education, special accommodations, and/ or extra support services.
        </p>
        <strong fxLayout class="medium-paragraph">What Dyslexia is not</strong>
        <p fxLayout class="normal-paragraph">
            It is equally important to understand what dyslexia isn’t. There are great misconceptions and myths about
            dyslexia which make it that much more difficult for someone with dyslexia to receive help and generally be
            understood.
        </p>
        <p fxLayout class="normal-paragraph">
            Dyslexia is not a disease and, therefore, there is no cure. With proper diagnosis, appropriate and timely
            instruction, hard work, and support from family, teachers, friends, and others, individuals who have
            dyslexia can succeed in school and later as adults.
        </p>
        <p fxLayout class="normal-paragraph">
            Individuals with dyslexia do not have a lower level of intelligence. In fact, more often than not, the
            complete opposite is true.
        </p>
        <strong fxLayout class="medium-paragraph">Different Learning Difficulties and Areas of Difficulty</strong>
        <table>
            <tr>
                <th></th>
                <th>Area of difficulty</th>
                <th>Symptons include trouble with</th>
                <th>Example</th>
            </tr>
            <tr>
                <td>Dyslexia</td>
                <td>Processing Language</td>
                <td>
                    <ul>
                        <li>Reading</li>
                        <li>Writing</li>
                        <li>Spelling</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Confusing letter name and sounds</li>
                        <li>Difficulty blending words</li>
                        <li>Slow reading</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Dysgraphia</td>
                <td>Written Expression</td>
                <td>
                    <ul>
                        <li>Hand Writing</li>
                        <li>Spelling</li>
                        <li>Comprehension</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Illegible writing</li>
                        <li>Difficulty organising ideas for writing</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Dyscalculia</td>
                <td>Math skills</td>
                <td>
                    <ul>
                        <li>Computation</li>
                        <li>Remembering math facts</li>
                        <li>Concepts of time and money</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Difficulty with time tables</li>
                        <li>Poor mental math skills</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Dyspraxia</td>
                <td>Movement and co-ordination</td>
                <td>
                    <ul>
                        <li>Struggles to communicate</li>
                        <li>Finds everyday physical activities</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Difficulty hopping,running,jumping or catching</li>
                    </ul>
                </td>
            </tr>
        </table>
        <strong fxLayout class="medium-paragraph">Screening, Evaluation, And Diagnosis </strong>
        <p fxLayout class="normal-paragraph">
            Early identification and intervention with students who show the warning signs of dyslexia are critically
            important for better outcomes later on.
            <br> Researchers have identified the specific skill weaknesses that
            predict later reading difficulties, making early testing, identification, and remediation possible. For most
            children, problems can be remediated with programs 30-45 minutes per day.
        </p>
        <strong fxLayout class="medium-paragraph">Role of teachers</strong>
        <p fxLayout class="normal-paragraph">
            The role of an insightful teacher in working with children with Dyslexia is critical and their perceptions
            plays an important role in their learning. An educator is in the forefront of a system that can help
            children with difficulties. Positive reinforcement by the teacher can give children the confidence to face
            and successfully manage their learning issues.
        </p>
        <ul>
            <li>With good child centered innovative teaching practices and appropriate teaching methods, students with
                Dyslexia can learn successfully.</li>
            <li>Once identified the key to success is instruction that is carefully targeted, well-delivered,
                research-based and suited to the student. These students should be taught by methods that involve
                several senses (hearing, seeing, touching) at the same time.</li>
            <li>“Once children learn how to learn, nothing is going to narrow their mind. The essence of teaching is to
                make learning contagious, to have one idea spark another.” Marva Collins.</li>
        </ul>
        <strong fxLayout class="medium-paragraph">Accommodations available to Students with LD</strong>
        <p fxLayout class="normal-paragraph">
            Different school boards have specific guidelines regarding accommodations available for students with LD.
            This may include:
        </p>
        <ul>
            <li>Giving a student extra time for examinations</li>
            <li>Provision to drop a language</li>
            <li>Providing assistance of a reader or writer</li>
            <li>Providing training in assistive technology</li>
            <li>Providing easy to understand instructions and notes</li>
        </ul>
        <strong fxLayout class="medium-paragraph">Summary</strong>
        <ul>
            <li>Learning difficulties have a genetic component and often run in families.</li>
            <li>It is a lifelong condition. Children don't grow out of it. They may learn to compensate, but it's
                something they continue to live with as adults.</li>
            <li>Dyslexic children do not learn in the same way as their typical peers without Dyslexia. These students
                need more intensive, focused learning intervention.</li>
            <li>No student is the same, many teaching strategies must be used to meet the needs of the students. They
                can still overcome their difficulties through perseverance and hard work.</li>
        </ul>
    </div>
</div>